*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
*.accdb
*.laccdb
*.mdb
*.rds
!data/stockKeys/*.rds
!data/gsiCatchData/commTroll/*.rds
!data/gsiCatchData/rec/*.rds
!data/gsiCatchData/pfma/*.rds
!data/color_pal.rds
!data/disco_color_pal.rds
data/gsiCatchData/pfma/shape_files/
R/southCoast/defunct/

# History files
.Rhistory
.Rapp.history

myNotes.*
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so

R/defunct/
R/hidden/
data/gsiCatchData/commTroll/hidden/
data/gsiCatchData/commTroll/defunct/
data/gsiCatchData/rec/defunct/
data/gsiCatchData/rec/hidden/
data/stockKeys/old/
R/hargreaves/
Rmd/hidden
figs/hidden/
data/coast_shapefiles/