*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
*.accdb
*.laccdb

# History files
.Rhistory
.Rapp.history

myNotes.*
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so
